*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("../imgs/bg.svg");
    background-size: cover;
    background-position: center;
}

h1{
    margin-bottom: 2rem;
}

section{
    display: grid;
    grid-template-columns: repeat(4,minmax(80px,7vw));
    grid-auto-rows: minmax(80px,7vw);
    grid-gap: 1rem;
    box-shadow: rgba(7, 252, 231, 0.7);
    padding: 0.08rem;
    perspective: 800px;
}

.card{
    position: relative;
    transform-style: preserve-3d;
    transition: all 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    box-shadow: 5px 10px 16px rgba(7, 252, 231, 0.7);
    cursor: pointer;
}

.face, .back{
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
}

.back{
    background-color: gray;
    backface-visibility: hidden;
}

.face{
    transform: rotateY(-180deg);
}

.toggleCard{
    transform: rotateY(180deg);
}

@media (max-width: 768px) {
    section {
      grid-template-columns: repeat(4, minmax(60px, 7vw));
      grid-auto-rows: minmax(60px, 7vw);
    }
  }
  
  @media (max-width: 480px) {
    section {
      grid-template-columns: repeat(4, minmax(60px, 2vw));
      grid-auto-rows: minmax(60px, 2vw);
    }
  }